<h1>四国のクイズ！</h1>

<div>次の中から、四国に含まれる都道府県を1つ選べ。</div>

<div class="selection">
    <%= link_to('　愛媛県　', score_path(:ken =>  "ehime")) %>
    <%= link_to('　香川県　', score_path(:ken =>  "kagawa")) %>
</div>
<div class="selection">
    <%= link_to('　高知県　', score_path(:ken =>  "kouchi")) %>
    <%= link_to('　徳島県　', score_path(:ken =>  "tokushima")) %>
</div>